<h1>All Microposts</h1>

<ul class="Microposts">
  <% @microposts.each do |micropost| %>
    <li>
      <% if micropost.picture? %>
        <%= image_tag micropost.picture.url %>
      <% else %>
        <%= image_tag 'kuchikomi1208_TP_V.jpg', :size =>'200x150' %>
      <% end %>
      <%= link_to micropost.title, micropost %>
      <%= micropost.content %>
      <%= link_to "delete", micropost, method: :delete, data: {confirm: "You sure?"} %>
    </li>
  <% end %>
</ul>
