<div>
  <div class="picture">
    <% if @micropost.picture? %>
      <%= image_tag @micropost.picture.url %>
    <% else %>
      <%= image_tag 'kuchikomi1208_TP_V.jpg', :size =>'200x150' %>
    <% end %>
  </div>
  <table>
    <tr>
      <td><%= @micropost.title %></td>
    </tr>
    <tr>
      <td><%= @micropost.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    </tr>
    <tr>
      <td><%= @micropost.content %></td>
    </tr>
    <tr>
      <td><%= link_to "delete", @micropost, method: :delete, data: {confirm: "You sure?"} %></td>
    </tr>
  </table>

</div>
