<div>
  <div class="picture">
    <% if @micropost.picture? %>
      <%= image_tag @micropost.picture.url %>
    <% else %>
      <%= image_tag 'kuchikomi1208_TP_V.jpg', :size =>'200x150' %>
    <% end %>
  </div>
  <table>
    <tr>
      <td><h2><%= @micropost.title %></h2></td>
    </tr>
    <tr>
      <td><%= @micropost.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    </tr>
    <tr>
      <td><h3><%= @micropost.content %><h3></td>
    </tr>
    <tr>
      <td>
        <%= link_to "edit", edit_micropost_path, class: 'btn btn-primary' %>
        <%= link_to "delete", @micropost, method: :delete, class: 'btn btn-danger', data: {confirm: "You sure?"} %>
      </td>
    </tr>
  </table>

</div>
