<nav class="navbar navbar-default">
  <a class="navbar-brand" href="/">home</a>
  <a class="navbar-brand" href="/microposts/new">new</a>
  <a class="navbar-brand" href="/microposts">index</a>

  <%= link_to 'user/new', new_user_path, class: 'navbar-brand' %>
  <%= link_to 'users/index', users_path, class: 'navbar-brand' %>
  <% if logged_in? %>
    <%= link_to "Profile", current_user, class: 'navbar-brand' %>
    <%= link_to "Log_out", logout_path, class: 'navbar-brand' %>
    <%# 8.20章 %>
    <ul class="dropdown-menu">
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Settings", '#' %></li>
      <li class="divider"></li>
      <li>
        <%= link_to "Log out", logout_path, method: :delete %>
      </li>
    </ul>
  <% else %>
    <%= link_to "Log_in", login_path %>
  <% end %>


</nav>
